<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root [ 
<!ELEMENT articleItem ANY>
<!ATTLIST articleItem id ID #REQUIRED>
<!ELEMENT articlesMain ANY>
<!ATTLIST articlesMain id ID #REQUIRED>
<!ELEMENT homePage ANY>
<!ATTLIST homePage id ID #REQUIRED>
<!ELEMENT login ANY>
<!ATTLIST login id ID #REQUIRED>
<!ELEMENT master ANY>
<!ATTLIST master id ID #REQUIRED>
<!ELEMENT message ANY>
<!ATTLIST message id ID #REQUIRED>
<!ELEMENT projectItem ANY>
<!ATTLIST projectItem id ID #REQUIRED>
<!ELEMENT projectsMain ANY>
<!ATTLIST projectsMain id ID #REQUIRED>
<!ELEMENT textPage ANY>
<!ATTLIST textPage id ID #REQUIRED>
<!ELEMENT textPageWithGrid ANY>
<!ATTLIST textPageWithGrid id ID #REQUIRED>

]>
<root id="-1">
  <homePage id="1060" key="f90034dd-d26a-4e5c-9cb3-2b60cdb784eb" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2016-03-20T22:01:07" updateDate="2016-04-15T01:57:21" nodeName="Home page" urlName="home-page" path="-1,1060" isDoc="" nodeType="1049" creatorName="Kamal" writerName="Kamal" writerID="0" template="1048" nodeTypeAlias="homePage">
    <metaKeywords><![CDATA[project webdeveloper webdev]]></metaKeywords>
    <metaDescription><![CDATA[project page webdevelopers]]></metaDescription>
    <umbracoNaviHide>0</umbracoNaviHide>
    <siteTitle><![CDATA[Århus Webdevelopers]]></siteTitle>
    <footer><![CDATA[This is the footer]]></footer>
    <mainContent><![CDATA[<p>Welcome to Århus Webdevelopers!</p>
<p>The site where the talented people from Århus can interact and work on projects together.</p>
<p>We can't wait to see you become part of our community!</p>]]></mainContent>
    <projectsMain id="1070" key="790d6f7b-6e77-43d3-a61c-b30efa425f9d" parentID="1060" level="2" creatorID="0" sortOrder="0" createDate="2016-03-25T23:36:16" updateDate="2016-03-25T23:36:30" nodeName="Projects" urlName="projects" path="-1,1060,1070" isDoc="" nodeType="1057" creatorName="Kamal Teta" writerName="Kamal Teta" writerID="0" template="1056" nodeTypeAlias="projectsMain">
      <umbracoNaviHide>0</umbracoNaviHide>
      <projectsBodyText><![CDATA[<p>here are the projects that people have been working on</p>]]></projectsBodyText>
      <projectsTitle><![CDATA[Projects]]></projectsTitle>
      <projectItem id="1071" key="c0ed9f2d-9fe4-4df0-a328-56271e4a6dfd" parentID="1070" level="3" creatorID="0" sortOrder="0" createDate="2016-03-25T23:37:20" updateDate="2016-04-15T04:20:34" nodeName="projekt0" urlName="projekt0" path="-1,1060,1070,1071" isDoc="" nodeType="1059" creatorName="Kamal" writerName="Kamal" writerID="0" template="1058" nodeTypeAlias="projectItem">
        <umbracoNaviHide>0</umbracoNaviHide>
        <projectDescription><![CDATA[<p>projekt0projekt0projekt0projekt0projekt0projekt0projekt0projekt0</p>]]></projectDescription>
        <projectTitle><![CDATA[If you can read this, then you're logged in]]></projectTitle>
        <projectStatus>8</projectStatus>
      </projectItem>
      <projectItem id="1078" key="fe844995-b8d9-4d34-a7fd-8c27ca41ccd6" parentID="1070" level="3" creatorID="0" sortOrder="1" createDate="2016-03-26T23:23:29" updateDate="2016-04-08T00:11:30" nodeName="finished1" urlName="finished1" path="-1,1060,1070,1078" isDoc="" nodeType="1059" creatorName="Kamal" writerName="Kamal" writerID="0" template="1058" nodeTypeAlias="projectItem">
        <umbracoNaviHide>0</umbracoNaviHide>
        <projectDescription><![CDATA[<p>finished1finished1finished1finished1finished1finished1finished1</p>]]></projectDescription>
        <projectTitle><![CDATA[finished1finished1]]></projectTitle>
        <projectStatus>9</projectStatus>
      </projectItem>
      <projectItem id="1079" key="63472532-cc9a-475e-96ad-07504a878456" parentID="1070" level="3" creatorID="0" sortOrder="2" createDate="2016-03-26T23:23:58" updateDate="2016-03-27T03:45:35" nodeName="finished2" urlName="finished2" path="-1,1060,1070,1079" isDoc="" nodeType="1059" creatorName="Kamal Teta" writerName="Kamal Teta" writerID="0" template="1058" nodeTypeAlias="projectItem">
        <umbracoNaviHide>0</umbracoNaviHide>
        <projectDescription><![CDATA[<p>finished2finished2finished2finished2finished2</p>
<p>finished2finished2finished2finished2finished2</p>
<p>finished2finished2finished2finished2</p>]]></projectDescription>
        <projectTitle><![CDATA[finished2]]></projectTitle>
        <projectStatus>9</projectStatus>
      </projectItem>
      <projectItem id="1080" key="9fe29a65-fd85-483c-abfe-0d334ca7dccc" parentID="1070" level="3" creatorID="0" sortOrder="3" createDate="2016-03-26T23:53:51" updateDate="2016-03-27T03:26:59" nodeName="doneski3" urlName="doneski3" path="-1,1060,1070,1080" isDoc="" nodeType="1059" creatorName="Kamal Teta" writerName="Kamal Teta" writerID="0" template="1058" nodeTypeAlias="projectItem">
        <umbracoNaviHide>0</umbracoNaviHide>
        <projectDescription><![CDATA[<p>doneski3doneski3</p>
<p>doneski3</p>
<p>doneski3</p>
<p>doneski3doneski3doneski3</p>]]></projectDescription>
        <projectTitle><![CDATA[doneski3]]></projectTitle>
        <projectStatus>9</projectStatus>
      </projectItem>
      <projectItem id="1082" key="0b583511-8042-49d9-93fb-31d204361aa3" parentID="1070" level="3" creatorID="0" sortOrder="4" createDate="2016-03-27T03:38:32" updateDate="2016-03-27T03:38:32" nodeName="finito4" urlName="finito4" path="-1,1060,1070,1082" isDoc="" nodeType="1059" creatorName="Kamal Teta" writerName="Kamal Teta" writerID="0" template="1058" nodeTypeAlias="projectItem">
        <umbracoNaviHide>0</umbracoNaviHide>
        <projectDescription><![CDATA[<p>finito4finito4finito4</p>
<p>finito4finito4finito4</p>
<p>finito4finito4finito4</p>]]></projectDescription>
        <projectTitle><![CDATA[finito4]]></projectTitle>
        <projectStatus>9</projectStatus>
      </projectItem>
      <projectItem id="1083" key="01541a15-8308-4ca4-91ba-e4c8d2877822" parentID="1070" level="3" creatorID="0" sortOrder="5" createDate="2016-03-27T03:39:03" updateDate="2016-03-27T03:39:03" nodeName="donezo5" urlName="donezo5" path="-1,1060,1070,1083" isDoc="" nodeType="1059" creatorName="Kamal Teta" writerName="Kamal Teta" writerID="0" template="1058" nodeTypeAlias="projectItem">
        <umbracoNaviHide>0</umbracoNaviHide>
        <projectDescription><![CDATA[<p>donezo5donezo5donezo5</p>
<p>donezo5donezo5donezo5</p>
<p>donezo5donezo5donezo5donezo5</p>
<p>donezo5</p>]]></projectDescription>
        <projectTitle><![CDATA[donezo5donezo5]]></projectTitle>
        <projectStatus>9</projectStatus>
      </projectItem>
      <projectItem id="1084" key="8ee5969c-724a-4287-ae39-28294b1244d6" parentID="1070" level="3" creatorID="0" sortOrder="6" createDate="2016-03-27T03:39:38" updateDate="2016-03-27T03:39:38" nodeName="flereEndFem6" urlName="flereendfem6" path="-1,1060,1070,1084" isDoc="" nodeType="1059" creatorName="Kamal Teta" writerName="Kamal Teta" writerID="0" template="1058" nodeTypeAlias="projectItem">
        <umbracoNaviHide>0</umbracoNaviHide>
        <projectDescription><![CDATA[<p>flereEndFem6flereEndFem6flereEndFem6</p>
<p>flereEndFem6flereEndFem6flereEndFem6</p>
<p>flereEndFem6flereEndFem6flereEndFem6</p>
<p>flereEndFem6flereEndFem6flereEndFem6</p>]]></projectDescription>
        <projectTitle><![CDATA[flereEndFem6]]></projectTitle>
        <projectStatus>9</projectStatus>
      </projectItem>
      <projectItem id="1132" key="48565a72-093d-482b-bd6e-b20831d80e3c" parentID="1070" level="3" creatorID="0" sortOrder="7" createDate="2016-04-15T04:21:21" updateDate="2016-04-15T04:21:21" nodeName="Initiated project" urlName="initiated-project" path="-1,1060,1070,1132" isDoc="" nodeType="1059" creatorName="Kamal" writerName="Kamal" writerID="0" template="1058" nodeTypeAlias="projectItem">
        <umbracoNaviHide>0</umbracoNaviHide>
        <projectDescription><![CDATA[<p>Initiated projectInitiated projectInitiated projectInitiated projectInitiated project</p>]]></projectDescription>
        <projectTitle><![CDATA[Initiated project]]></projectTitle>
        <projectStatus>7</projectStatus>
      </projectItem>
    </projectsMain>
    <articlesMain id="1066" key="e9dd58a2-5120-435b-b7f7-9cb73e55aaeb" parentID="1060" level="2" creatorID="0" sortOrder="1" createDate="2016-03-24T18:14:13" updateDate="2016-03-29T22:57:36" nodeName="Articles" urlName="articles" path="-1,1060,1066" isDoc="" nodeType="1053" creatorName="Kamal Teta" writerName="Kamal Teta" writerID="0" template="1052" nodeTypeAlias="articlesMain">
      <umbracoNaviHide>0</umbracoNaviHide>
      <articlesTitle><![CDATA[Articles]]></articlesTitle>
      <articlesBodyText><![CDATA[<p>ukfewbnjkwef bjklfnofwneopfnq3kælnfqifedvdvdvsdsv</p>
<p>ukfewbnjkwef bjklfnofwneopfnq3kælnfqifedvdvdvsdsv</p>
<p>ukfewbnjkwef bjklfnofwneopfnq3kælnfqifedvdvdvsdsv</p>
<p>ukfewbnjkwef bjklfnofwneopfnq3kælnfqifedvdvdvsdsv</p>
<p>ukfewbnjkwef bjklfnofwneopfnq3kælnfqifedvdvdvsdsv</p>
<p>ukfewbnjkwef bjklfnofwneopfnq3kælnfqifedvdvdvsdsv</p>
<p>ukfewbnjkwef bjklfnofwneopfnq3kælnfqifedvdvdvsdsv</p>
<p>ukfewbnjkwef bjklfnofwneopfnq3kælnfqifedvdvdvsdsv</p>
<p>ukfewbnjkwef bjklfnofwneopfnq3kælnfqifedvdvdvsdsv</p>]]></articlesBodyText>
      <articleItem id="1067" key="9f8371ec-09f7-4a1b-8de8-699141953da0" parentID="1066" level="3" creatorID="0" sortOrder="0" createDate="2016-03-24T18:14:47" updateDate="2016-03-24T19:18:06" nodeName="Lorem ipsum the true story" urlName="lorem-ipsum-the-true-story" path="-1,1060,1066,1067" isDoc="" nodeType="1055" creatorName="Kamal Teta" writerName="Kamal Teta" writerID="0" template="1054" nodeTypeAlias="articleItem">
        <umbracoNaviHide>0</umbracoNaviHide>
        <articleContent><![CDATA[<p>njefbuklefbilwqnilwefnilejil</p>]]></articleContent>
        <articleTitle><![CDATA[Lorem ipsum the true story]]></articleTitle>
      </articleItem>
      <articleItem id="1068" key="6e587999-467e-4f39-8ea4-ac3d0c7cc6fa" parentID="1066" level="3" creatorID="0" sortOrder="1" createDate="2016-03-25T23:33:37" updateDate="2016-03-25T23:33:37" nodeName="Hello World" urlName="hello-world" path="-1,1060,1066,1068" isDoc="" nodeType="1055" creatorName="Kamal Teta" writerName="Kamal Teta" writerID="0" template="1054" nodeTypeAlias="articleItem">
        <umbracoNaviHide>0</umbracoNaviHide>
        <articleContent><![CDATA[<p>fefewefgwgwrwgwgwg4wg4tw3tw34tw4gw4</p>]]></articleContent>
        <articleTitle><![CDATA[Hello World]]></articleTitle>
      </articleItem>
      <articleItem id="1069" key="c4948ee2-7262-407f-8861-773a59e9d587" parentID="1066" level="3" creatorID="0" sortOrder="2" createDate="2016-03-25T23:35:06" updateDate="2016-03-25T23:35:06" nodeName="The quick grey fox jumpe over the lazy dog" urlName="the-quick-grey-fox-jumpe-over-the-lazy-dog" path="-1,1060,1066,1069" isDoc="" nodeType="1055" creatorName="Kamal Teta" writerName="Kamal Teta" writerID="0" template="1054" nodeTypeAlias="articleItem">
        <umbracoNaviHide>0</umbracoNaviHide>
        <articleContent><![CDATA[<p>The quick grey fox jumpe over the lazy dogThe quick grey fox jumpe over the lazy dogThe quick grey fox jumpe over the lazy dogThe quick grey fox jumpe over the lazy dogThe quick grey fox jumpe over the lazy dogThe quick grey fox jumpe over the lazy dogThe quick grey fox jumpe over the lazy dogThe quick grey fox jumpe over the lazy dogThe quick grey fox jumpe over the lazy dogThe quick grey fox jumpe over the lazy dog</p>]]></articleContent>
        <articleTitle><![CDATA[The quick grey fox jumpe over the lazy dog]]></articleTitle>
      </articleItem>
    </articlesMain>
    <textPage id="1065" key="3dd8dc7b-ba81-4d62-bb84-dd9934beaac3" parentID="1060" level="2" creatorID="0" sortOrder="2" createDate="2016-03-24T18:08:11" updateDate="2016-04-08T02:22:11" nodeName="Members" urlName="members" path="-1,1060,1065" isDoc="" nodeType="1051" creatorName="Kamal" writerName="Kamal" writerID="0" template="1098" nodeTypeAlias="textPage">
      <metaKeywords><![CDATA[contact]]></metaKeywords>
      <metaDescription><![CDATA[contact]]></metaDescription>
      <umbracoNaviHide>0</umbracoNaviHide>
      <mainContent><![CDATA[<p>nufkebnueowgbnoewgnpigenw</p>
<p>seflæmelknrgsklnewgknegw</p>
<p>ergkrgknnækgeknæegænlwegnælwegæ</p>
<p> </p>
<p>efg</p>
<p>weg</p>
<p>gwe</p>
<p>legwl</p>
<p>ë</p>
<p>wg,</p>
<p>,egw</p>
<p>,wegweg</p>]]></mainContent>
      <header><![CDATA[This is the contact page]]></header>
    </textPage>
    <textPageWithGrid id="1077" key="d4e91eb3-5c94-4506-af7e-b023e7a358f2" parentID="1060" level="2" creatorID="0" sortOrder="3" createDate="2016-03-26T15:04:10" updateDate="2016-04-15T02:47:24" nodeName="About" urlName="about" path="-1,1060,1077" isDoc="" nodeType="1074" creatorName="Kamal" writerName="Kamal" writerID="0" template="1073" nodeTypeAlias="textPageWithGrid">
      <umbracoNaviHide>0</umbracoNaviHide>
      <tpwgContent><![CDATA[{
  "name": "1 column layout",
  "sections": [
    {
      "grid": 12,
      "rows": [
        {
          "name": "Headline",
          "areas": [
            {
              "grid": 12,
              "hasConfig": false,
              "controls": [
                {
                  "value": "<h2>About us</h2>\n<p>“Ah you think darkness is your ally? You merely adopted the dark. I was born in it, molded by it. I didn't see the light until I was already a man, by then it was nothing to me but blinding!”</p>",
                  "editor": {
                    "alias": "code"
                  },
                  "active": true
                }
              ],
              "hasActiveChild": true,
              "active": true
            }
          ],
          "hasConfig": false,
          "id": "dc2441ff-9cdd-d6e9-eff2-bb3a8372e7de",
          "hasActiveChild": true,
          "active": true
        },
        {
          "name": "3Way",
          "areas": [
            {
              "grid": 4,
              "hasConfig": false,
              "controls": [
                {
                  "value": "<p style=\"text-align: center;\"><strong>Vision</strong></p>\n<p style=\"text-align: left;\"><em>Lorem ipsum dolor sit amet<br /></em></p>\n<p style=\"text-align: left;\"><em>Lorem ipsum dolor sit amet</em></p>\n<p style=\"text-align: left;\"><em>Lorem ipsum dolor sit amet</em></p>",
                  "editor": {
                    "alias": "rte"
                  },
                  "active": false
                }
              ]
            },
            {
              "grid": 4,
              "hasConfig": false,
              "controls": [
                {
                  "value": "<p style=\"text-align: center;\"><strong>People</strong></p>\n<p style=\"text-align: left;\"><em>Lorem ipsum dolor sit amet</em></p>\n<p style=\"text-align: left;\"><em>Lorem ipsum dolor sit amet</em></p>\n<p style=\"text-align: left;\"><em>Lorem ipsum dolor sit amet </em></p>",
                  "editor": {
                    "alias": "rte"
                  },
                  "active": false
                }
              ]
            },
            {
              "grid": 4,
              "hasConfig": false,
              "controls": [
                {
                  "value": "<p style=\"text-align: center;\"><strong>Skills</strong></p>\n<p style=\"text-align: left;\"><em>Lorem ipsum dolor sit amet<br /></em></p>\n<p style=\"text-align: left;\"><em>Lorem ipsum dolor sit amet</em></p>\n<p style=\"text-align: left;\"><em>Lorem ipsum dolor sit amet</em></p>",
                  "editor": {
                    "alias": "rte"
                  },
                  "active": false
                }
              ]
            }
          ],
          "hasConfig": false,
          "id": "6b491cb0-71fb-4c8a-60e9-55778fe74ea9"
        }
      ]
    }
  ]
}]]></tpwgContent>
    </textPageWithGrid>
    <textPage id="1086" key="67dcdd1d-4b0d-4c9f-b97d-10fbfef40dc8" parentID="1060" level="2" creatorID="0" sortOrder="4" createDate="2016-04-06T21:41:58" updateDate="2016-04-14T01:30:32" nodeName="Contact" urlName="contact" path="-1,1060,1086" isDoc="" nodeType="1051" creatorName="Kamal" writerName="Kamal" writerID="0" template="1085" nodeTypeAlias="textPage">
      <umbracoNaviHide>0</umbracoNaviHide>
      <header><![CDATA[skriv til mig]]></header>
      <message id="1124" key="cf7888e7-fb60-49c0-8e72-02192fef5d8d" parentID="1086" level="3" creatorID="0" sortOrder="0" createDate="2016-04-14T01:30:15" updateDate="2016-04-14T19:59:20" nodeName="message created from backend" urlName="message-created-from-backend" path="-1,1060,1086,1124" isDoc="" nodeType="1120" creatorName="Kamal" writerName="Kamal" writerID="0" template="0" nodeTypeAlias="message">
        <message><![CDATA[message creted from backendmessage creted from backend]]></message>
        <subject><![CDATA[message created from backend]]></subject>
        <sernderName><![CDATA[Kamal]]></sernderName>
        <email><![CDATA[message@fakemail.com]]></email>
      </message>
    </textPage>
    <login id="1097" key="fba7d598-7385-4434-9286-3d4af4e40993" parentID="1060" level="2" creatorID="0" sortOrder="5" createDate="2016-04-07T20:14:28" updateDate="2016-04-15T03:01:15" nodeName="Login" urlName="login" path="-1,1060,1097" isDoc="" nodeType="1096" creatorName="Kamal" writerName="Kamal" writerID="0" template="1095" nodeTypeAlias="login">
      <umbracoNaviHide>0</umbracoNaviHide>
    </login>
  </homePage>
</root>