@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
	Layout = "Master.cshtml";
}			
@{
	var selection = CurrentPage.Site().FirstChild("articlesMain").Children("articleItem").Where("Visible");
}<h2>All articles:</h2>
<ul style="list-style:none;">
	@foreach(var item in selection){
		<li>
			<u><a href="@item.Url">@item.Name</a></u>
		</li>
	}
</ul>